@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    /* CSS HEX */
  --penn-red: #980A0Aff;
  --licorice: #1C0607ff;
  --eerie-black: #1B1A19ff;
  --van-dyke: #392929ff;
  --dark-red: #8C0C0Cff;
  
  /* CSS HSL */
  --penn-red: hsla(0, 88%, 32%, 1);
  --licorice: hsla(357, 65%, 7%, 1);
  --eerie-black: hsla(30, 4%, 10%, 1);
  --van-dyke: hsla(0, 16%, 19%, 1);
  --dark-red: hsla(0, 84%, 30%, 1);
  }
  
html{
    scroll-behavior: smooth;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none !important;
    color: #fff !important;
    cursor: pointer;
}
.main-title{
    color: #fff;
    margin: 1.5rem;
    font-size: 1.2rem;
}
.logo{
    width: 68px;
    height: 48px;
    margin-left: 2.5rem;
  
  }
body{
    /* background: #0f0f0f; */
    font-family: 'Kumbh Sans', sans-serif;
    background: #3f0a0c;
    background: url(/img/red\ bg.jpg), #3f0a0c;
    background-size: cover;
    background-blend-mode: multiply;
}
/*start of navigation */
header{
    position: sticky;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    /* background: #1d2e3b; */
    /* background: #0f0f0f; */
    background:linear-gradient(#8C0C0Cff, #1B1A19ff) ;
    z-index: 1000;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 2rem 0.5rem 2rem;
    padding: 1rem 2rem;
    color: #fff;
    position: relative;
    text-align: center;
}
.nav-links{
    display: grid;
    grid-template-columns: 4.8fr 1fr;
    justify-content: center;
    gap: 1rem;
    align-items: center;
}
.links>*{
    padding-right: 1rem;
    font-size: 1.1rem;
}

nav h3{
    font-size: 1.2rem;
}
.nav-bars{
    cursor: pointer;
    margin-top: 0.6rem;
}
.nav-bars span{
    display: block;
    height: 2px;
    width: 25px;
    background: #fff;
    margin-bottom: 0.2rem;
    margin-right: 2.5rem;
    position: relative;
    transition: 200ms ease-in;
}
.nav-right{
    display: flex;
    align-items: center;
    gap: 1rem;
}
.nav-right .fa-shopping-cart{
    margin-top: 0.5rem;
}
.cart-count-container{
    position: relative;
}
.shopping-cart-count{
    background: #fff;
    color: #30a30d;
    padding: 0.05rem 0.3rem;
    position: absolute;
    margin-left: -0.5rem;
    border-radius: 50%;
    font-size: 0.8rem;
}
.rotate span:nth-child(2){
    display: none;
}
.rotate span:nth-child(1){
    transform: rotate(-45deg);
    bottom: -0.3rem;
}

.rotate span:nth-child(3){
    transform: rotate(45deg);
}
.side-menu-links{
    /* background:rgb(18, 17, 17); */
    background: var(--penn-red);
    position: fixed;
    top: 3.9rem;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    opacity: 0.95;
    padding-bottom: 2rem;
}
/* .side-menu-links{
    display: none;
} */

.nav-bars{
    display: none;
}
/* toggle on click */
.show-mobile-menu{
    transition: 180ms ease-in;
    transform: translateX(-100%);
}
.side-links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    min-height: 400px;
}
.call-to-action{
    border: 0.5px solid rgb(19, 93, 176);
    border-radius: 0.15rem;
    padding: 0.5rem 0.7rem;
    min-width: 180px;
    transition:all 200ms ease-in-out;
    /* background: linear-gradient(#0c38e5,#2d80cd); */
    background: linear-gradient(#0c38e5,#57b7dd);
    transform: skewX(-190deg);

}
.call-to-action:hover{
    background: linear-gradient(#0c38e5,#0d64b6);
}
/* end of navigation */
/* quick search section start */
.quick-search-filters select{
    width: 300px;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background: #000;
    color: #fff;
    outline: none;
    border: none;
    border-radius: 0.3rem;
    display: grid;
    justify-content: center;
}
.search-filters-container{
    /* max-width: 800px; */
    display: grid;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    padding: 1rem;
    gap: 1rem;
}
/* quick search section end */
.beat-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 800px; */
    margin: 0 auto;
    margin: 1rem;
    color: #fff;
    padding: 1rem 0.5rem;
    border-bottom: 1px solid #8C0C0Cff
}
.play-btn-container{
  background: var(--dark-red);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
}
.add-to-cart-btn-container{
    background: var(--penn-red);
    color: #fff;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
}
/* start of audio player */
.audio-player-container{
    color: #fff;
    background: #090421;
    padding: 1.5rem 0.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* max-width: 800px; */
    position: relative;
}
.audio-progress-bar{
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffff;
    top: 0;
    left: 0;
}
.audio-player-container i{
color: #fff;
margin-right: 1rem;
}
.audio-player-container img{
    width: 30px;
}
.controls-audio{
    color: #fff;
}
/* end of audio player */

/* START OF SHOPPING CART */
.cart-image{
    border: 1px solid #fff;
    width: 40px;
    position: relative;
}
.cart-image img{
    width: 40px;
    height: 30px;
}
.cart-count-icon{
    font-size: 1.2rem;
}
.shopping-cart-container{
    color: #bab0b0;
    padding: 1rem;
    /* align-items: center; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #090421;
    position: fixed;
    top:4rem;
    bottom: 0;
    z-index: 1000;

}
.item-titles, .cart-items-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    align-items: center;
    max-width: 800px;
}
.item-titles{
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bolder;
    color: #edeaea;
}
.close-cart-btn, .close-overlay-btn{
    width: 20px;
    height: 20px;
    text-align: center;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: absolute;
    top:1.8rem;
    right: 2rem;
    outline: none;
    border: none;
    cursor: pointer;
}
.close-cart-btn:hover{
    transform: scale(1.1);
}
/* closing the cart upon click */
.close-entire-cart{
    transform: translateX(-100%);
    transition: 180ms;
}
.checkout-container{
    background: #100834;
    padding: 2rem;
    max-width: 800px;
    margin-top: 1.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.total-price{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    color: #46c51f;
    font-weight: bolder;
    font-size: 1.1rem

}
.checkout-btn{
width: 100%;
padding: 0.5rem 1rem;
font-size: 1.1rem;
background: #07625d;
color: #fff;
border: none;
outline: none;
border-radius: 4px;
margin-top: 1rem;
}

/* START OF LICENSES OVERLAY */
.licenses-container{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    height: 100%;
    margin: 2.5rem 2rem;
 /* position: relative; */
}
.licenses-overlay{
color: #fff;
position: fixed;
top: 0;
bottom: 0;
left: 0;
right:0;
height: 700px;
min-height: 100%;
width: 100%;
background: #080421;
z-index: 1000;
max-width: 500px;
display: flex;
grid-template-columns: 1fr;
justify-content: center;
justify-items: center;
flex-direction: column;
align-items: center;
overflow-y: scroll;
}
.album-art-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    padding: 1rem;
    margin-top: 1.8rem;  
}
.album-art-container .beat-title{
    max-width: 180px;
    padding: 1rem;
}
.album-art-img-container img{
    max-width: 90px;
    width: 90px;
    height: 100%;
    max-height: 80px;
}
.album-art-img-container{
    background: #093eba;
    border: 2px solid #fff;
    position: relative;
    max-width: 95px;
    width: 95px;
    height: 100%;
    max-height: 55px;
}
.license-details-container{
    background: #191435;
    padding: 2.4rem 1.5rem;
    max-width: 400px;
    width: 100%;
    margin: 1rem;
}
.license-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem
}
.license-title{
    font-size: 1.4rem;
    color: #cbc3c3;
}
.license-details .item-price{
    background: #959292;
    padding: 0.7rem 1.2rem;
}
.license-terms{
    display: flex;
    gap:0.5rem;
    align-items: center;
    margin-top: 1.5rem;
    color: #959292;
    font-weight: lighter;
    cursor: pointer;
}
.license-terms .item-price{
    color: #000 !important;
}
.license-terms .fa-shopping-cart{
    font-size: 0.8rem;
    margin-right: 0.6rem;
}
.license-terms i{
font-size: 0.7rem
}
/* END OF LICENSES OVERLAY */
/* END OF SHOPPING CART */



/* media queries */
@media(max-width:800px){
    .nav-links{
        display: none;
    }
    .nav-bars{
        display: block;
    }
    .landing-page{
        grid-template-columns: 1fr;
    }
    /* .hero-img{
        order: -1;
    } */
    .landing-page .txt{
        max-width: 500px;
        text-align: center;
        margin-top: 2rem;
        /* background: rgb(20, 20, 20); */
        padding: 2rem 1rem;
    }
    .landing-page .txt p{
        font-size: clamp(1rem, 2.5vw, 2rem);  
    }
    .landing-page .txt h1{
        font-size: clamp(1.5rem, 2.5vw, 4rem); 
    }
    .hero-img{
      height: 100%;
        max-height: 380px;
    }
}
@media (max-width:400px){
    .license-details-container{
        padding: 2rem 1.1rem;
        max-width: 300px;
        width: 100%;
        margin: 1rem;
    } 
}
